#cpquicklinks {
	columns:200px;
}
#cpquicklinks .category {
	vertical-align:top;
	margin-bottom:20px;
	display:inline-block;
	width:200px;
}
#cpquicklinks .category > div {
	border-top:1px solid lightgray;
	margin-top:6px;
	padding-top:6px;
}
#cpquicklinks .category .name {
	font-size:18px;
}
#cpquicklinks .category .fa {
	font-size:24px;
	margin-right:6px;
	vertical-align:-1px;
}
#cpquicklinks a {
	display:block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}